{
  "presets": [
    "@babel/preset-flow",
    "@babel/preset-typescript",
    [
      "next/babel",
      {
        "transform-runtime": {
          "useESModules": false
        }
      }
    ],
    ["@emotion/babel-preset-css-prop", { "autoLabel": true }]
  ],
  "plugins": [
    "transform-flow-strip-types",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
