{
  "presets": [
    [
      "next/babel",
      {
        "preset-react": {
          "runtime": "automatic",
          "importSource": "@emotion/core"
        },
        "transform-runtime": {
          "useESModules": false
        }
      }
    ],
    ["@emotion/babel-preset-css-prop", { "autoLabel": true }]
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
