schema:
  # remote
  # - ${GATEWAY_API_ROOT}/graphql
  # local
  - ./generated/gql_schema.json
documents: [./**/gql/*.ts]
generates:
  generated/gql_schema.json:
    plugins:
      - introspection
  generated/gql_types.tsx:
    plugins:
      - typescript
