import React from "react";
import PropTypes from "prop-types";

/*
* Please edit me!
*/
const {{properCase name}} = () => <h1>{{properCase name}}</h1>;

{{properCase name}}.propTypes = {
/*
* Don't forget about little old prop types!
*/
};

export default {{properCase name}};