/**************************************/
/* styling for the SQONView component */
/**************************************/

/* .sqon-view {
  background-color: transparent;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0;
  margin: 3px 0 12px;
} */

/* .sqon-group {
  flex-wrap: wrap;
} */

/* .sqon-group > * {
  margin-top: 10px;
} */

/* .sqon-view-empty {
  display: none;
} */

/* .sqon-bubble {
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 8px;
  font-family: Work Sans, sans-serif;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-right: 10px;
  flex: none;
} */

/* .sqon-less,
.sqon-more {
  padding: 0 12px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 6px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 22px;
  border-radius: 8px;
  font-size: 11px;
  letter-spacing: 0.2px;
  flex: none;
  font-weight: 500;
  font-family: Work Sans, sans-serif;
} */

/* .sqon-value {
  padding: 0 7px 0 12px;
  margin-right: 4px;
  cursor: pointer;
  padding: 0 7px;
  margin-right: 6px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
} */

/* .sqon-value:after {
  content: url(data:image/svg+xml,%3Csvg%20width%3D%228%22%20height%3D%228%22%20stroke%3D%22white%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%3Cline%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%228%22%20y2%3D%228%22%20/%3E%0A%20%20%3Cline%20x1%3D%228%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%228%22%20/%3E%0A%3C/svg%3E);
  margin-left: 9px;
}

.sqon-value-single {
  margin-right: 10px;
} */

/* .sqon-op {
  color: inherit;
  font-weight: normal;
  margin-right: 5px;
} */

/* .sqon-field {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0.3rem;
  font-size: 12px;
} */

/* .sqon-less {
  padding: 0 10px;
} */

/* .sqon-clear {
  padding: 0 12px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
} */

/* .sqon-value-group {
  font-size: 22px;
  line-height: 22px;
  color: #009bb8;
} */

/* .sqon-value-group-start {
  margin-right: 6px;
  margin-left: 2px;
}

.sqon-value-group-end {
  margin-right: 10px;
} */
